:root {
  --gray: #b4bec9;
  --green: #159a9c;
  --black: #002333;
  --mint: #deefe7;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

.root {
  background-color: var(--black);
  color: var(--white);
  padding: 16px 48px;
}

.name {
  font-size: 24px;
}

.sns {
  display: flex;
}

.sns-link {
  font-size: 16px;
}

.copyrights {
  /* display: flex;
  justify-content: center; */
}
