:root {
  --gray: #b4bec9;
  --green: #159a9c;
  --black: #002333;
  --mint: #deefe7;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}

.root {
  background-color: var(--black);
  color: var(--white);
  padding: 16px 48px;
}

.name {
  font-size: 48px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.category {
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-decoration: underline;
}

.content {
  margin-top: 10px;
  font-size: 20px;
}

.content :hover {
  color: var(--green);
}

.copyrights {
  font-size: 16px;
  padding-top: 32px;
  text-align: center;
}
