:root {
  --gray: #b4bec9;
  --green: #159a9c;
  --black: #002333;
  --mint: #deefe7;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

.root {
  box-shadow: var(--box-shadow);
  background-color: var(--black) !important;
  padding: 0px 48px;
}

.nav-brand {
  font-size: 24px;
  font-weight: 500;
}

.nav-link {
  color: var(--white) !important;
  font-size: 16px;
}

.nav-link:hover {
  color: var(--green) !important;
}
