:root {
  --gray: #B4BEC9;
  --green: #159A9C;
  --black: #002333;
  --mint: #DEEFE7;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

.root {
  box-shadow: var(--box-shadow);
  background-color: var(--black) !important;
}

.nav-brand {
  font-size: 25px;
  font-weight: 500;
}

.nav-link {
  color: var(--white) !important;
  font-size: 16px;
}

.nav-link:hover {
  color: var(--green) !important;
}
